<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="images/favicon.ico">
        <link rel="stylesheet" href="css/style.css?v=1">
        <title>Sapphire Cinema Coupon</title>
    </head>

    <body>
        <div class="main-div">
            <p class="typewriter-text">GODD FOR ONE ADMISSION</p>
            <p class="typewriter-text">Show at door for admission!</p>
            <p class="typewriter-text">EXPIRE: {{ slice . 0 10 }}</p>
        </div>
    </body>
</html>